@font-face {
  font-family: 'Renitah'; 
  src: url('Renitah_1.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@keyframes fadeInPage {
  to {
    opacity: 1;
  }
}

body {
opacity: 0;
animation: fadeInPage 1s ease-in-out forwards;
display: flex;
flex-direction: column;
background-color:lightgrey;
margin: 0px;
padding: 0px;
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
font-family: "Arizonia", cursive;
font-weight: normal;
font-style: normal;
text-shadow: 4px 4px 4px #B8B8B8;
}

h1 {
  font-size: 50px;
}

#text {
color: black;
margin-left: 55px;
margin-top: 120px;
font-family: "Great Vibes", cursive;
font-weight: normal;
font-style: normal;
}

.button {
border: none;
border-radius: 10px;
box-shadow: 0px 4px 8px rgba(238, 238, 238, 0.1);
transition: all 0.4s ease-in-out;
background-color: silver;
color: black;
font-family: 'Open Sans', sans-serif;
cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
  background-color: darkgrey;
}

.sidebar {
  background-color:rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px); 
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  overflow-x: hidden;
  transition: width 0.3s ease;
}

.footer {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  padding: 30px;
  }

  #openNav i {
  background-color: lightgrey;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  }