body {
    background-color:floralwhite;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.sidebar {
    background-color:cornflowerblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    overflow-x: hidden;
    transition: width 0.3s ease;
}